@font-face {
    font-family: 'Netflix Sans';
    src: url('/docs/fonts/netflix-sans/NetflixSans-Regular.woff2'),
        url('/docs/fonts/netflix-sans/NetflixSans-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Netflix Sans', Arial, sans-serif;
}

header {
    filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.737));
    display: flex;
    flex-direction: row;
    margin-left: 65px;
}

#logo {
    transition: transform 0.1s ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/docs/resources/background/passwordForgot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(2px);
    transform: scale(1.01);
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: whitesmoke;
    color: #333;
    justify-content: center;
    align-content: center;
    align-items: left;
    border-radius: 4px;
    box-shadow: 0 0 10px 10px rgb(71, 71, 71);
    padding: 50px;
    margin: 10px auto;
    width: 30%;
    height: 100%;
}

h2 {
    font-weight: bold;
}

#radio {
    padding-left: 50px;
}

#radio input {
    padding: 10px;
    margin-right: 10px;
}

#radio input:focus {
    transition: all 0.5s;
}



#emailInput input,
#phoneInput input {
    padding: 10px;
    border-radius: 3px;
    border-style: solid;

}

#emailInput button,
#phoneInput button {
    padding: 10px;
    background-color: blue;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    border-style: none;
    font-weight: bold;
}

.inputData>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#phoneInput>div>button {
    color: #333;
    border-style: solid;
    border-color: #999;
    font-weight: normal;
}